<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:project?after=additions">
         <command
               commandId="StaticAnalysis.project_menu_command_static_analysis"
               icon="platform:/plugin/Common/icons/analysis_icon.png "
               label="Static Analysis"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.php.editor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=addi‌​tions">
         <menu
               id="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu"
               label="Static Analysis">
            <command
                  commandId="StaticAnalysis.project_explorer_command_static_analysis"
                  icon="platform:/plugin/Common/icons/analysis_icon.png "
                  label="Static Analysis"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.php.ui.explorer">
         <command
               commandId="StaticAnalysis.php_explorer_command_static_analysis"
               icon="platform:/plugin/Common/icons/analysis_icon.png "
               label="Static Analysis"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.php.ui.category.source"
            defaultHandler="handlers.ProjectMenuStaticAnalysis"
            id="StaticAnalysis.project_menu_command_static_analysis"
            name="Run Static Analysis">
      </command>
      <command
            categoryId="org.eclipse.php.ui.category.source"
            defaultHandler="handlers.ProjectExplorerStaticAnalysis"
            id="StaticAnalysis.project_explorer_command_static_analysis"
            name="Run Static Analysis From Project Explorer">
      </command>
      <command
            categoryId="org.eclipse.php.ui.category.source"
            defaultHandler="handlers.PHPExplorerStaticAnalysis"
            id="StaticAnalysis.php_explorer_command_static_analysis"
            name="Run Static Analysis From PHP Explorer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="StaticAnalysis.project_menu_command_static_analysis"
            contextId="org.eclipse.php.ui.phpEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M1+A">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Common.PHPanalysisCategory"
            class="views.Overview"
            icon="platform:/plugin/Common/icons/view_icon.png "
            id="StaticAnalysis.overview"
            name="Static Analysis Overview"
            restorable="false">
      </view>
   </extension>

</plugin>
