<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="Author" content="Weverca Team" />
    <meta http-equiv="Content-language" content="en" />
    <meta http-equiv="Content-type" content="text/xhtml; charset=utf-8" />
    <meta name="Keywords" content="Weverca, Web verification tool, PHP verification" />
    <meta name="Description" content="Weverca is a tool for verifing PHP code." />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="~/Content/Icon.png" />
    <link rel="Stylesheet" href="~/Content/Site.css" type="text/css" />
    <link rel="Stylesheet" href="~/CodeMirror/codemirror.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Tabs.css" />

    <script src="~/jQuery/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="~/CodeMirror/codemirror.js" type="text/javascript"></script>
    <script src="~/CodeMirror/clike.js" type="text/javascript"></script>
    <script src="~/CodeMirror/css.js" type="text/javascript"></script>
    <script src="~/CodeMirror/htmlmixed.js" type="text/javascript"></script>
    <script src="~/CodeMirror/javascript.js" type="text/javascript"></script>
    <script src="~/CodeMirror/php.js" type="text/javascript"></script>
    <script src="~/CodeMirror/xml.js" type="text/javascript"></script>

    <title>
        Weverca Web::@ViewBag.Title
    </title>
</head>
<body>
    <div id="contentPlaceholder">
        <div id="header">
            <div id="logo">
                @Html.ActionLink(" ", "Index", "Home")
                <div class="left">
                    <p id="logoName">Weverca</p>
                    <p>WEb VERifiCAtion tool for PHP</p>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        <div id="topic">
            <h1>@ViewBag.Title</h1>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
            &copy; Weverca Team 2013, version @Html.CurrentVersion(typeof(Weverca.Web.Controllers.HomeController))
        </div>
</body>
</html>
