<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="log" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.txt">
      <layout xsi:type="SimpleLayout"
              text="${longdate} ThreadID:${threadid} ThreadName:${threadname}${newline}Logger: ${logger}${newline}Level: ${level}${newline}${message}${newline}Exception: ${exception:format=type,message,method:maxInnerExceptionLevel=5}${newline}======================================================================" />
    </target>
    <target name="errors" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.Errors.txt">
      <layout xsi:type="SimpleLayout"
              text="${longdate} ThreadID:${threadid} ThreadName:${threadname}${newline}Logger: ${logger}${newline}Level: ${level}${newline}${message}${newline}Exception: ${exception:format=type,message,method:maxInnerExceptionLevel=5}${newline}======================================================================" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="log" />
    <logger name="*" minlevel="Warn" writeTo="errors" />
  </rules>

</nlog>
