<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="Common.PHPanalysisCategory"
            class="views.ViewAggregated"
            icon="platform:/plugin/Common/icons/view_icon.png "
            id="ratingandquantity.view1"
            name="PHP aggregated metrics"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="Common.PHPanalysisCategory"
            class="views.ViewSimple"
            icon="platform:/plugin/Common/icons/view_icon.png "
            id="ratingandquantity.view2"
            name="PHP metrics"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ratingandquantity.view2">
         <command
               commandId="ratingandquantity.command2"
               icon="platform:/plugin/Common/icons/R_icon.png "
               label="recursively"
               style="toggle"
               tooltip="Search folder recursively">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ratingandquantity.view2">
         <command
               commandId="ratingandquantity.command1"
               icon="IMG_OBJ_FOLDER"
               label="choose"
               style="pulldown"
               tooltip="Choose whether to show files or folders">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ratingandquantity.command1">
         <command
               commandId="Metrics.filetype"
               label="Files"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="files">
            </parameter>
         </command>
         <command
               commandId="Metrics.filetype"
               label="Folders"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="folders">
            </parameter>
         </command>
         <command
               commandId="Metrics.filetype"
               label="Files and folders"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="filesAndFolders">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="handlers.FilesOrFolders"
            id="ratingandquantity.command1"
            name="FilesOrFolders">
      </command>
      <command
            defaultHandler="handlers.Recursion"
            id="ratingandquantity.command2"
            name="recursion">
            <state
         		class="org.eclipse.ui.handlers.RegistryToggleState:true"
         		id="org.eclipse.ui.commands.toggleState">
   			</state>
      </command>
      <command
            defaultHandler="handlers.FilesOrFolders"
            id="Metrics.filetype"
            name="File Type Command">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="filesAndFolders">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
   </extension>

</plugin>
