<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weverca.Analysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Weverca.Analysis.Properties.Settings>
            <setting name="PhpFunctionsFile" serializeAs="String">
                <value>php_functions.xml</value>
            </setting>
            <setting name="PhpClassesFile" serializeAs="String">
                <value>php_classes.xml</value>
            </setting>
        </Weverca.Analysis.Properties.Settings>
    </applicationSettings>
</configuration>