/*---------COMMON---------*/
body {
    font-family: Arial, Verdana, Helvetica, Sans-Serif;
    color: #ffffff;
    background-color: #dddddd;
    max-width: 1200px; 
    margin: 0 auto;
}

.CodeMirror { border: 1px solid grey;}

.CodeMirrorScroll { margin: 0pt;}
                
legend, body
{
    color: #222222;
    margin-top: 1em;
}

a
{
    white-space: nowrap;
}

p
{
    margin: 0px 0px 0em 0px;
    text-align: justify;
}

h1, h2, h3
{
    color: #222222;
    margin: 0.5em 0px 0px 0px;
    padding: 0px;
}

#contentPlaceholder
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.clear
{
    clear: both;
}

.left
{
    float: left;
}


/*---------HEADER---------*/
#header
{
    background-color: #991133;
    color: #eeeeee;
    border-radius: 6px;
}

#logo
{
    float: left;
    margin: 5px 5px 5px 15px;
}

#logoName{
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 10px;
    
}

#logo a
{
    background-image: url("Logos.png");
    width: 120px;
    height: 103px;
    display: block;
    float: left;
    margin-right: 20px;
}

#menu
{
    float: right;
    margin: 20px;
    width: 102px;
}

#menu a
{
		background-color: #DD8822;
    color: #222222;  
    min-width: 80px;
	  border-radius: 6px;       
    text-decoration: none;
    text-align: center;
}

#menu a:hover
{
		background-color: #EE9933;
    color: #222222;
}

#menu ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
}

#menu a
{
    width: 100px;
    float: left;
    display: block;
    margin: 1px;
}

/*---------CONTENT---------*/
#content,
#topic
{
    background-color: #EEEEEE;
    padding: 8px;
}

#topic
{
    margin: 2px 0px;
}

#topic h1
{
    margin: 0px;
}

#content
{
    min-height: 160px;
    border-radius: 6px;
}

#content a
{
    color: #4EAD92;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;
}

#content a:hover
{
    border-style: dashed;
    margin-left: -1px;
    margin-right: -1px;
}

#content ul
{
    margin-top: 0.1em;
	  list-style-type: none;   
}

#content img
{
    margin-top: 0.5em;
}

/*---------FORMS---------*/
.basicForm
{
    border-style: none;
}

.basicForm input,
.basicForm textArea
{
    padding: 5px 10px;

}

input,
textarea,
select
{
    border-style: solid;
    float: left;

}

.button
{
    background-color: #DD8822;
    color: #222222;  
    min-width: 80px;
	  border-radius: 6px;
	  font-weight: bold;
	  width: 10em;
	  height: 3em;
	  margin-top: 1em;
}

.button:hover
{
    background-color: #EE9933;
    color: #222222;
}



.basicForm ul
{
    padding-left: 0px;
}

ul {
    padding-left: 0px;
}

.basicForm li
{
    display: block;
    clear: both;
    list-style-type: disc;
    margin-bottom: 1em;
    
}

.basicForm label 
{
    width: 30em;
    float: left;
    height: 2em;
    padding-left: 0.5em;
}

.selectHolder
{
    background-color: White;
    float: left;
    vertical-align: bottom;
    margin-bottom: 10pt;
}

.basicForm select
{
    padding: 4px 10px;
    width: 200px; 
    background-color: transparent;
}

.basicForm .settings label input
{
    width: initial;
}

.footer
{
	text-align: right;
	padding-right: 1em;
}