/*---------COMMON---------*/
body {
    font-size: 0.85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #ffffff;
    background-color: #210C10;
}

legend, body
{
    color: #ffffff;
}

a
{
    white-space: nowrap;
}

p
{
    margin: 0px 0px 0.5em 0px;
    text-align: justify;
}

h1, h2, h3
{
    color: #893200;
    margin: 0.5em 0px 0px 0px;
    padding: 0px;
}

#contentPlaceholder
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 55px;
    width: 990px;
}

.clear
{
    clear: both;
}

.left
{
    float: left;
}

/*---------HEADER---------*/
#header
{
    background-color: #800019;
}

#logo
{
    float: left;
    margin: 5px 5px 5px 15px;
}

#logoName{
    font-size: 3em;
    font-weight: bold;
    margin-top: 75px;
}

#logo a
{
    background-image: url("Logo.png");
    width: 244px;
    height: 210px;
    display: block;
    float: left;
}

#menu
{
    float: right;
    margin: 5px;
    width: 102px;
}

#menu a
{
    background-color: #4EAD92;
    color: #003B2A;
    text-decoration: none;
    text-align: center;
}

#menu a:hover
{
    background-color: #003B2A;
    color: #4EAD92;
}

#menu ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
}

#menu a
{
    width: 100px;
    float: left;
    display: block;
    margin: 1px;
}

/*---------CONTENT---------*/
#content,
#topic
{
    background-color: #530010;
    padding: 8px;
}

#topic
{
    margin: 2px 0px;
}

#topic h1
{
    margin: 0px;
}

#content
{
    min-height: 160px;
}

#content a
{
    color: #4EAD92;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;
}

#content a:hover
{
    border-style: dashed;
    margin-left: -1px;
    margin-right: -1px;
}

#content ul
{
    margin-top: 0.5em;
}

#content img
{
    margin-top: 0.5em;
}

/*---------FORMS---------*/
.basicForm
{
    border-style: none;
}

.basicForm input,
.basicForm textArea
{
    padding: 5px 10px;
    width: 200px;
}

input,
textarea,
select
{
    border-style: none;
}

.button
{
    background-color: #4EAD92;
    color: #003B2A;    
    min-width: 80px;
}

.button:hover
{
    background-color: #003B2A;
    color: #4EAD92;
}

.basicForm .button,
.settings
{
    margin-left: 190px; 
}

.basicForm .button
{
    width: 220px;
}

.basicForm ul
{
    padding-left: 0px;
}

.basicForm li
{
    display: block;
    clear: both;
    margin: 8px 0px;
    list-style-type: none;
}

.basicForm label 
{
    width: 190px;
    display: block;
    float: left;
}

.selectHolder
{
    width: 220px;
    overflow: hidden;
    background-image: url("DownArrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-color: White;
    float: left;
    margin-bottom: 10px;
    margin-right: 4px;
}

.basicForm select
{
    padding: 4px 10px;
    width: 250px; 
    background-color: transparent;
}

.basicForm .settings label
{
    width: 300px;
}

.basicForm .settings input
{
    width: initial;
}

/*---------FOOTER---------*/
#footer
{
    background-color: #4EAD92;
    color: #003B2A;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin: 0px 0px 0px -495px;
    width: 982px;
    padding: 8px 0px 8px 8px;
}