@using Weverca.Web.Models
@using Weverca.Web.Properties

@model ResultModel

@{
    ViewBag.Title = Resources.ResultTitle;
}

@Html.TextAreaFor(m => m.PhpCode)

<script type="text/javascript">
    $(document).ready(function () {
        CodeMirror.fromTextArea(PhpCode, { mode: "php", lineNumbers: true, readOnly: true });
    });
</script>

<div>
    @Model.Output.ToHtmlString()
</div>
