<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="constructsearch.PHPSearchPage"
            id="ConstructSearch.page1"
            label="PHP Construct Search">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="Common.PHPanalysisCategory"
            class="views.SearchResultView"
            icon="platform:/plugin/Common/icons/view_icon.png "
            id="ConstructSearch.view1"
            name="PHP Search Result"
            restorable="false">
      </view>
   </extension>
   <extension
         id="ConstructSearch.searchresultmarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="ConstructSearch.specification_sql"
            colorPreferenceKey="SQL_color"
            colorPreferenceValue="153,255,238"
            contributesToHeader="false"
            highlightPreferenceKey="SQL_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="SQL"
            overviewRulerPreferenceKey="SQL_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="SQL_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="SQL_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_class"
            colorPreferenceKey="class_color"
            colorPreferenceValue="153,100,200"
            contributesToHeader="false"
            highlightPreferenceKey="class_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Class"
            overviewRulerPreferenceKey="class_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="class_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="class_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_sessions"
            colorPreferenceKey="sessions_color"
            colorPreferenceValue="255,99,71"
            contributesToHeader="false"
            highlightPreferenceKey="sessions_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Sessions"
            overviewRulerPreferenceKey="sessions_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="sessions_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="sessions_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_autoload"
            colorPreferenceKey="autoload_color"
            colorPreferenceValue="240,128,128"
            contributesToHeader="false"
            highlightPreferenceKey="autoload_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Autoload"
            overviewRulerPreferenceKey="autoload_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="autoload_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="autoload_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_magic"
            colorPreferenceKey="magic_color"
            colorPreferenceValue="255,140,0"
            contributesToHeader="false"
            highlightPreferenceKey="magic_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Magic methods"
            overviewRulerPreferenceKey="magic_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="magic_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="magic_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_aliasing"
            colorPreferenceKey="aliasing_color"
            colorPreferenceValue="189,183,107"
            contributesToHeader="false"
            highlightPreferenceKey="aliasing_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Aliasing"
            overviewRulerPreferenceKey="aliasing_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="aliasing_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="aliasing_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_insidefunct"
            colorPreferenceKey="insidefunct_color"
            colorPreferenceValue="255,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="insidefunct_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Inside function declaration"
            overviewRulerPreferenceKey="insidefunct_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="insidefunct_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="insidefunct_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_superglobalvar"
            colorPreferenceKey="superglobalvar_color"
            colorPreferenceValue="154,205,50"
            contributesToHeader="false"
            highlightPreferenceKey="superglobalvar_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Super global variable"
            overviewRulerPreferenceKey="superglobalvar_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="superglobalvar_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="superglobalvar_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_dyncall"
            colorPreferenceKey="dyncall_color"
            colorPreferenceValue="50,205,50"
            contributesToHeader="false"
            highlightPreferenceKey="dyncall_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Dynamic call"
            overviewRulerPreferenceKey="dyncall_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="dyncall_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="dyncall_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_dynderef"
            colorPreferenceKey="dynderef_color"
            colorPreferenceValue="32,178,170"
            contributesToHeader="false"
            highlightPreferenceKey="dynderef_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Dynamic dereference"
            overviewRulerPreferenceKey="dynderef_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="dynderef_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="dynderef_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_dyninclude"
            colorPreferenceKey="dyninclude_color"
            colorPreferenceValue="100,149,237"
            contributesToHeader="false"
            highlightPreferenceKey="dyninclude_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Dynamic include"
            overviewRulerPreferenceKey="dyninclude_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="dyninclude_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="dyninclude_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_eval"
            colorPreferenceKey="eval_color"
            colorPreferenceValue="218,112,214"
            contributesToHeader="false"
            highlightPreferenceKey="eval_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Eval"
            overviewRulerPreferenceKey="eval_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="eval_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="eval_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="ConstructSearch.specification_passingbyref"
            colorPreferenceKey="passingbyref_color"
            colorPreferenceValue="210,180,140"
            contributesToHeader="false"
            highlightPreferenceKey="passingbyref_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Passing by reference at call site"
            overviewRulerPreferenceKey="passingbyref_overview"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="passingbyref_text"
            textPreferenceValue="true"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="passingbyref_vertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_sql">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_class">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_sessions">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_autoload">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_aliasing">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_insidefunct">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_superglobalvar">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_dyncall">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_dynderef">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_dyninclude">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_eval">
      </type>
      <type
            markerSeverity="1"
            markerType="ConstructSearch.searchresultmarker"
            name="ConstructSearch.specification_passingbyref">
      </type>
   </extension>

</plugin>
