<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoreload="True">
  <targets>
    <target name="Error" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File" fileName="${basedir}/Logs/Error.txt" archiveFileName="${basedir}/Logs/Error.{#####}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30">
        <layout xsi:type="SimpleLayout" text="${level}|${date:format=HH\:mm\:ss\,fff}|${threadid}-${threadname}|Message:${message}
                ${newline}  Exception: ${exception:Format=Message}
                ${newline}  Type: ${exception:Format=Type}
                ${newline}  CallStack: ${exception:maxInnerExceptionLevel=99:innerExceptionSeparator=&#13;&#10;  InnerException\: :Format=StackTrace:InnerFormat=Message,Type,StackTrace:separator=|}"/>
      </target>
    </target>
    <target name="Log" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File" fileName="${basedir}/Logs/Log.txt" archiveFileName="${basedir}/Logs/Log.{#####}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30">
        <layout xsi:type="SimpleLayout" text="${level}|${date:format=HH\:mm\:ss\,fff}|${threadid}-${threadname}|Message:${message}|${exception:maxInnerExceptionLevel=99:innerExceptionSeparator=&#13;&#10;  InnerException\: :Format=Message, Type, StackTrace:separator=|}"/>
      </target>
    </target>
    <target name="Trace" xsi:type="AsyncWrapper">
      <target name="file" xsi:type="File" fileName="${basedir}/Logs/Trace.txt" archiveFileName="${basedir}/Logs/Trace.{#####}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30">
        <layout xsi:type="SimpleLayout" text="${level}|${date:format=HH\:mm\:ss\,fff}|${threadid}-${threadname}|Message:${message}|${exception:maxInnerExceptionLevel=99:innerExceptionSeparator=&#13;&#10;  InnerException\: :Format=Message, Type, StackTrace:separator=|}"/>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="Error" />
    <logger name="*" minlevel="Info" maxLevel="Warn" writeTo="Log" />
  </rules>
</nlog>
